@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  background-image: url("./assets/wanderlust.gif");
  background-attachment: fixed;
  background-position: 0px -70px; 
  background-size: cover;
  resize: both;
  color: white;
  font-family: "DM Mono", monospace;
}
/* width */
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background: #c3c8a4;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #c3c8a4;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0 165 181);
    border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(138 185 83);
}

body::-webkit-scrollbar-track-piece {
    background: #082129;
}

a {
  text-decoration: none;
}

.page-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.page-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.page-list::-webkit-scrollbar-thumb {
  background: #114066;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.page-list::-webkit-scrollbar-track {
  background: transparent;
}

.page {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.page:focus-within ~ .page,
.page:hover ~ .page {
  transform: translateX(120px);
}

.page:hover {
  transform: translateY(-2rem);
}

.page:not(:first-child) {
  margin-left: -130px;
}

.page-header {
  margin-bottom: auto;
}

.page-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.page-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.text-gradient {
  background: linear-gradient(90deg, #ffffff, #00e1ff);
  text-shadow: #f3f3f3;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar-gradient {
  background: linear-gradient(90deg, #ffffff, #00e1ff);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar-bg-gradient {
  background: linear-gradient(305deg, #041c29, #00a3b3, #8ab953);
}
.btn-gradient {
    background: linear-gradient(305deg, #041c29, #00a3b3, #8ab953);
}


.footer-bg-gradient {
  background-image: url("./assets/paper.png");
  background-position: -20px 230px; 
  resize: both;
  
}

.bg-green {
  background: linear-gradient(305deg, #041c29, #00a3b3, #8ab953);
}

.btn-green {
  color: #000;
  background-color: #8ac645;
  border-color: #c0ceaf;
}



